<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
    </script>
</head>
<body>
<div class="login-container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <h1>Login</h1>
    <div th:if="${error}" class="failure">
        <p th:text="${error}"></p>
    </div>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" type="text"/>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>
        <!-- Show Password Checkbox -->
        <label class="profile-table">
            <input class="checkbox-margin" onclick="togglePasswordVisibility()" type="checkbox"/>
            Show Password
        </label>
        <!-- Error Message -->
        <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
        <button type="submit">Log In</button>
    </form>
    <!-- Register Link -->
    <p class="section-spacing">
        Don't have an account?
        <a th:href="@{/register}">Register</a>
    </p>
</div>
</body>
</html>
